#rose{
  text-align: center;
}
#seth{
  background-color: Aquamarine;
  float: left;
  height: 800px;
  width: 170px;
}
#rose{
  background-color: Antiquewhite;
}
#reli{
  text-align: center;
  background-color: Lightgrey;
}
#reli{
  background-color: lightgrey;
  height: 800px;
}
#rose{
  background-color: Antiquewhite;
  height: 200px;
}
